<h1>Pages#contact</h1>

<p><%=  number_to_phone "5555555555" %> </p>

<p><%=  number_to_currency "5555555555" %> </p>
<p><%=  number_to_percentage "55" %> </p>
<p><%=  number_with_delimiter "2349085723459082347592345320978234509782345097855" %> </p>